---
import {SITE_TITLE} from "../constants";
import Layout from "../layouts/Layout.astro";
import HeaderHero from '../components/HeaderHero.astro';

---

<Layout title={SITE_TITLE}>
    <main>
        <HeaderHero>
            <span slot="title">Agenda</span>
            <span slot="description">May 17th</span>
        </HeaderHero>
        <section class="max-w-screen-lg m-auto px-8">

            <div class="schedule" aria-labelledby="schedule-heading">

                <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">Track 1</span>
                <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">Track 2</span>
                <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">Track 3</span>
                <span class="track-slot" aria-hidden="true" style="grid-column: track-4; grid-row: tracks;">Track 4</span>

                <div class="session session-7 track-all" style="grid-column: track-1-start / track-4-end; grid-row: time-0400 / time-0430;">
                    <h3 class="session-title">The state of security in Single Page Applications</h3>
                    <span class="session-presenter">Martina Kraus</span>
                </div>

                <div class="session session-1 track-1" style="grid-column: track-1; grid-row: time-0430 / time-0500;">
                    <h3 class="session-title">PWAs with Angular</h3>
                    <span class="session-time">04:30 - 05:00</span>
                    <span class="session-presenter">Ankita Sood</span>
                </div>

                <div class="session session-1 track-2" style="grid-column: track-2; grid-row: time-0430 / time-0500;">
                    <h3 class="session-title">use Embassy; Impl Snake for Micro:bit</h3>
                    <span class="session-time">04:30 - 05:00</span>
                    <span class="session-presenter">Cyril MARPAUD</span>
                </div>

                <div class="session session-1 track-3" style="grid-column: track-3; grid-row: time-0430 / time-0500;">
                    <h3 class="session-title">Superpowers of Angular Directives</h3>
                    <span class="session-time">04:30 - 05:0</span>
                    <span class="session-presenter">Armen Vardanyan</span>
                </div>

                <div class="session session-1 track-4" style="grid-column: track-4; grid-row: time-0430 / time-0500;">
                    <h3 class="session-title">Build conversational AI experiences powered by LLMs</h3>
                    <span class="session-time">04:30 - 05:00</span>
                    <span class="session-presenter">Xavier Portilla Edo</span>
                </div>

                <div class="session session-2 track-1" style="grid-column: track-1; grid-row: time-0500 / time-0530;">
                    <h3 class="session-title">Migrating your conventional Angular Workspace to a Monorepo in a busy company</h3>
                    <span class="session-time">05:00 - 05:30</span>
                    <span class="session-presenter">Anirudh Varma</span>
                </div>

                <div class="session session-2 track-2" style="grid-column: track-2; grid-row: time-0500 / time-0530;">
                    <h3 class="session-title">Lessons Learned from Building a Serverless Notifications System</h3>
                    <span class="session-time">05:00 - 05:30</span>
                    <span class="session-presenter">Srushith Repakula</span>
                </div>

                <div class="session session-2 track-3" style="grid-column: track-3; grid-row: time-0500 / time-0530;">
                    <h3 class="session-title">Writing for Software Engineers</h3>
                    <span class="session-time">05:00 - 05:30</span>
                    <span class="session-presenter">Ankur Tyagi</span>
                </div>

                <div class="session session-2 track-4" style="grid-column: track-4; grid-row: time-0500 / time-0530;">
                    <h3 class="session-title">What the heck is a RAG?</h3>
                    <span class="session-time">05:00 - 05:30</span>
                    <span class="session-presenter">Haimantika Mitra</span>
                </div>

                <div class="session session-3 track-1" style="grid-column: track-1; grid-row: time-0530 / time-0600;">
                    <h3 class="session-title">React 19 - The Golden Fleece</h3>
                    <span class="session-time">05:30 - 06:00</span>
                    <span class="session-presenter">Tapas Adhikary</span>
                </div>

                <div class="session session-3 track-2" style="grid-column: track-2; grid-row: time-0530 / time-0600;">
                    <h3 class="session-title">Write Your Own Containers using Go</h3>
                    <span class="session-time">05:30 - 06:00</span>
                    <span class="session-presenter">Mohammad Quanit</span>
                </div>

                <div class="session session-3 track-3" style="grid-column: track-3; grid-row: time-0530 / time-0600;">
                    <h3 class="session-title">Using Material 3 (M3) design with Angular</h3>
                    <span class="session-time">05:30 - 06:00</span>
                    <span class="session-presenter">Dharmen Shah</span>
                </div>

                <div class="session session-3 track-4" style="grid-column: track-4; grid-row: time-0530 / time-0600;">
                    <h3 class="session-title">AI for Documentation </h3>
                    <span class="session-time">05:30 - 06:00</span>
                    <span class="session-presenter">Felix Jumason</span>
                </div>

                <div class="session session-4 track-1" style="grid-column: track-1; grid-row: time-0600 / time-0630;">
                    <h3 class="session-title">Angular 17 Unveiled: Revolutionizing Developer Experience</h3>
                    <span class="session-time">06:00 - 06:30</span>
                    <span class="session-presenter">Deepa Chaurasia</span>
                </div>

                <div class="session session-4 track-2" style="grid-column: track-2; grid-row: time-0600 / time-0630;">
                    <h3 class="session-title">Securing Your Django Applications: Best Practices</h3>
                    <span class="session-time">06:00 - 06:30</span>
                    <span class="session-presenter">Sophia Iroegbu</span>
                </div>

                <div class="session session-4 track-3" style="grid-column: track-3; grid-row: time-0600 / time-0630;">
                    <h3 class="session-title">Schema First Approach to Typescript Types Design</h3>
                    <span class="session-time">06:00 - 06:30</span>
                    <span class="session-presenter">Maina Wycliffe</span>
                </div>

                <div class="session session-4 track-4" style="grid-column: track-4; grid-row: time-0600 / time-0630;">
                    <h3 class="session-title">Advancing Generative AI integration with Vertex AI Node.js SDK</h3>
                    <span class="session-time">06:00 - 06:30</span>
                    <span class="session-presenter">Patty O'Callaghan</span>
                </div>

                <div class="session session-5 track-1" style="grid-column: track-1; grid-row: time-0630 / time-0700;">
                    <h3 class="session-title">A nerdy guide to the web trending concepts</h3>
                    <span class="session-time">06:30 - 07:00</span>
                    <span class="session-presenter">Daniel Afonso</span>
                </div>

                <div class="session session-5 track-2" style="grid-column: track-2; grid-row: time-0630 / time-0700;">
                    <h3 class="session-title">Meet Your New BFF: Backend to Frontend without the Duct Tape</h3>
                    <span class="session-time">06:30 - 07:00</span>
                    <span class="session-presenter">Noam Honig</span>
                </div>

                <div class="session session-5 track-3" style="grid-column: track-3; grid-row: time-0630 / time-0700;">
                    <h3 class="session-title">TypeScript's 'Never' Type: The Invisible Force Shaping Code?</h3>
                    <span class="session-time">06:30 - 07:00</span>
                    <span class="session-presenter">Serkan Sipahi</span>
                </div>

                <div class="session session-5 track-4" style="grid-column: track-4; grid-row: time-0630 / time-0700;">
                    <h3 class="session-title">Understanding Fine-tuning - A primer to customise Large Language Models</h3>
                    <span class="session-time">06:30 - 07:00</span>
                    <span class="session-presenter">Aravind Putrevu</span>
                </div>


                <div class="session session-7 track-all" style="grid-column: track-1-start / track-4-end; grid-row: time-0700 / time-0800;">
                    <h3 class="session-title">Take a break!</h3>
                </div>

                <div class="session session-6 track-1" style="grid-column: track-1; grid-row: time-0800 / time-0830;">
                    <h3 class="session-title">Live-Coding: Mastering Web Scraping with Scrapoxy</h3>
                    <span class="session-time">08:00 - 08:30</span>
                    <span class="session-presenter">Fabien Vauchelles</span>
                </div>

                <div class="session session-6 track-2" style="grid-column: track-2; grid-row: time-0800 / time-0830;">
                    <h3 class="session-title">Create a React app with Wing backend</h3>
                    <span class="session-time">08:00 - 08:30</span>
                    <span class="session-presenter">Ayush Thakur</span>
                </div>

                <div class="session session-6 track-3" style="grid-column: track-3; grid-row: time-0800 / time-0830;">
                    <h3 class="session-title">Million Lint: The future of linting</h3>
                    <span class="session-time">08:00 - 08:30</span>
                    <span class="session-presenter">Tobiloba Adedeji</span>
                </div>

                <div class="session session-6 track-4" style="grid-column: track-4; grid-row: time-0800 / time-0830;">
                    <h3 class="session-title">Use rust to power python application</h3>
                    <span class="session-time">08:00 - 08:30</span>
                    <span class="session-presenter">Sonam</span>
                </div>

                <div class="session session-7 track-1" style="grid-column: track-1; grid-row: time-0830 / time-0900;">
                    <h3 class="session-title">Cypress, Playwright or Selenium: choosing the right testing tool</h3>
                    <span class="session-time">08:30 - 09:00</span>
                    <span class="session-presenter">Soumaya Erradi</span>
                </div>

                <div class="session session-7 track-2" style="grid-column: track-2; grid-row: time-0830 / time-0900;">
                    <h3 class="session-title">Are you perfectly authorized?</h3>
                    <span class="session-time">08:30 - 09:00</span>
                    <span class="session-presenter">Rohit Ghumare</span>
                </div>

                <div class="session session-7 track-all" style="grid-column: track-3; grid-row: time-0830 / time-0900;">
                    <h3 class="session-title"></h3>
                    <span class="session-time"></span>
                    <span class="session-presenter"></span>
                </div>

                <div class="session session-7 track-4" style="grid-column: track-4; grid-row: time-0830 / time-0900;">
                    <h3 class="session-title">End-to-end secure ML development</h3>
                    <span class="session-time">08:30 - 09:00</span>
                    <span class="session-presenter">Mihai Maruseac</span>
                </div>

                <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-0900 / time-0930;">
                    <h3 class="session-title">NGCC No More: Navigating Angular v16 Upgrades</h3>
                    <span class="session-time">09:00 - 09:30</span>
                    <span class="session-presenter">Daniel Glejzner</span>
                </div>

                <div class="session session-8 track-2" style="grid-column: track-2; grid-row: time-0900 / time-0930;">
                    <h3 class="session-title">Building and Deploying Mobile Apps: A Developer's Guide to Easy CI/CD</h3>
                    <span class="session-time">09:00 - 09:30</span>
                    <span class="session-presenter">Samuel Abada</span>
                </div>

                <div class="session session-8 track-3" style="grid-column: track-3; grid-row: time-0900 / time-0930;">
                    <h3 class="session-title">Micro Frontend - Unleashing Importmap's Potential</h3>
                    <span class="session-time">09:00 - 09:30</span>
                    <span class="session-presenter">Jonathan Gelin</span>
                </div>

                <div class="session session-8 track-all" style="grid-column: track-4; grid-row: time-0900 / time-0930;">
                    <h3 class="session-title"></h3>
                    <span class="session-time"></span>
                    <span class="session-presenter"></span>
                </div>


                <h2 class="time-slot" style="grid-row: time-0400;">04:00pm</h2>
                <h2 class="time-slot" style="grid-row: time-0430;">04:30pm</h2>
                <h2 class="time-slot" style="grid-row: time-0500;">05:00pm</h2>
                <h2 class="time-slot" style="grid-row: time-0530;">05:30pm</h2>
                <h2 class="time-slot" style="grid-row: time-0600;">06:00pm</h2>
                <h2 class="time-slot" style="grid-row: time-0630;">06:30pm</h2>
                <h2 class="time-slot" style="grid-row: time-0700;">07:00pm</h2>
                <h2 class="time-slot" style="grid-row: time-0800;">08:00pm</h2>
                <h2 class="time-slot" style="grid-row: time-0830;">08:30pm</h2>
                <h2 class="time-slot" style="grid-row: time-0900;">09:00pm</h2>
                <h2 class="time-slot" style="grid-row: time-0930;">09:30pm</h2>

            </div>
        </section>
    </main>
</Layout>

<style>
    /*************************
 * GRID SCHEDULE LAYOUT
 *************************/
    @media screen and (min-width:700px) {
        .schedule {
            display: grid;
            grid-gap: 1em;
            grid-template-rows:
			[tracks] auto
			[time-0400] 1fr
			[time-0430] 1fr
			[time-0500] 1fr
			[time-0530] 1fr
			[time-0600] 1fr
			[time-0630] 1fr
			[time-0700] 2fr
			[time-0800] 1fr
			[time-0830] 1fr
            [time-0900] 1fr
            [time-0930] 1fr
            [time-1000] 1fr;

            /* Note 1:
            Use 24hr time for gridline names for simplicity

            Note 2: Use "auto" instead of "1fr" for a more compact schedule where height of a slot is not proportional to the session length. Implementing a "compact" shortcode attribute might make sense for this!
            Try 0.5fr for more compact equal rows. I don't quite understand how that works :)
            */

            grid-template-columns:
			[times] 4em
			[track-1-start] 1fr
			[track-1-end track-2-start] 1fr
			[track-2-end track-3-start] 1fr
			[track-3-end track-4-start] 1fr
			[track-4-end];
        }
    }

    .time-slot {
        grid-column: times;
    }

    .track-slot {
        display: none; /* hidden on small screens and browsers without grid support */
    }

    @supports( display:grid ) {
        @media screen and (min-width:700px) {
            .track-slot {
                display: block;
                padding: 10px 5px 5px;
                position: sticky;
                top: 0;
                z-index: 1000;
                color: white;
            }
        }
    }

    /* Small-screen & fallback styles */
    .session {
        margin-bottom:  1em;
    }

    @supports( display:grid ) {
        @media screen and (min-width: 700px) {
            .session {
                margin: 0;
            }
        }
    }

    /*************************
     * VISUAL STYLES
     * Design-y stuff ot particularly important to the demo
     *************************/

    .session {
        padding: .5em;
        border-radius: 8px;
    }

    .session-title,
    .session-time,
    .session-track,
    .session-presenter {
        display: block;
    }

    .session-title,
    .time-slot {
        margin: 0;
        font-size: 1em;
    }

    .session-title a {
        color: #fff;
        text-decoration-style: dotted;

        &:hover {
            font-style: italic;
        }

        &:focus {
            outline: 2px dotted rgba(255,255,255,.8);
        }
    }

    .track-slot,
    .time-slot {
        font-weight: bold;
        font-size:.75em;
    }

    .track-1 {
        background-color: #1259B2;
        color: #fff;
    }

    .track-2 {
        background-color: #687f00;
        color: #fff;
    }

    .track-3 {
        background-color: #544D69;
        color: #fff;
    }

    .track-4 {
        background-color: #c35500;
        color: #fff;
    }

    .track-all {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ccc;
        color: #000;
        box-shadow: none;
    }

    .text {
        max-width: 750px;
        font-size: 18px;
        margin: 0 auto 50px;
    }

    .meta {
        color: #555;
        font-style: italic;
    }

    .meta a {
        color: #555;
    }

    hr {
        margin: 40px 0;
    }
</style>
